.camperDetails {
	border: 1px solid #ccc;
	border-radius: 8px;
	padding: 16px;
	margin: 16px;
	text-align: center;
}

.camperDetails img {
	width: 100%;
	border-radius: 8px;
}

.camperDetails h3 {
	font-size: 1.5em;
	margin-bottom: 0.5em;
}

.camperDetails p {
	margin: 0.5em 0;
}

.details {
	margin-top: 16px;
}

.gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.gallery img {
	width: 100px;
	margin: 4px;
	border-radius: 4px;
}
