.camperGrid {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.loadMore {
	margin: 20px auto;
	display: block;
	padding: 10px 20px;
	background-color: var(--color-button);
	color: #fff;
	border: none;
	cursor: pointer;
	border-radius: 5px;
}

.loadMore:hover {
	background-color: var(--color-button-hover);
}
